:root {
    --bs-link-color: #8C4E37; 
}

/* BUTTONS */
.btn {
    --bs-btn-bg: #8C4E37; 
    --bs-btn-border-color: #8C4E37; 
    --bs-btn-hover-bg: #8C4E37; 
    --bs-btn-hover-border-color: #8C4E37;
    --bs-btn-active-bg: #54695C; 
}

/* LOGO CAFETERIA NAVBAR */
.navbar-brand img {
    width: 4rem;
}